{% extends "casa/layouts/journey.njk" %}

{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% from "../components/casa-journey-form-extra/macro.njk" import casaJourneyFormExtra with context %}

{% set name = journeyContext["found"].name %}

{% set nameFormatted = name.firstName + " " + name.lastName %}

{% block beforeContent %}
  {% if casa.phase == "alpha" %}
    {% include "casa/partials/phase_banner_alpha.njk" %}
  {% elif casa.phase == "beta" %}
    {% include "casa/partials/phase_banner_beta.njk" %}
  {% endif %}

  <h4 class="govuk-heading-s" style="margin-top: 20px">{{ nameFormatted | upper }}</h4>

  <hr class="govuk-section-break govuk-section-break--visible">
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if not inEditMode and casa.journeyPreviousUrl %}
        {{ govukBackLink({
          text: t("common:back"),
          href: casa.journeyPreviousUrl
        }) }}
        <br>
        <br>
      {% endif %}

      {% call casaJourneyFormExtra({ buttonBarHidden: false }) %}
        {% block journey_form %}
        {% endblock %}
      {% endcall %}
    </div>
  </div>
{% endblock %}
