{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% set data = { countries: [journeyContext["country-1"], journeyContext["country-2"], journeyContext["country-3"], journeyContext["country-4"]], livedWorked: journeyContext['lived-worked-5'] } %}

{% block reviewBlock %}
  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-0",
    rows: data | countriesReviewBlock(t)
  }) }}
{% endblock %}
