{% extends "layouts/journey.njk" %}

{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}
{% from "components/inset-text/macro.njk" import govukInsetText %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% set earliestDate = journeyContext["found"].earliestDate | formatDateObject %}

{% set html %}
  {{ casaGovukDateInput({
    namePrefix: "newClaimDate",
    casaValue: formData.newClaimDate,
    casaErrors: formErrors
  }) }}
{% endset %}

{% block casaPageTitle %}
  {{ t("claim-date:pageTitle") }}
{% endblock %}

{% block journey_form %}
  <h1 class="govuk-heading-xl">{{ t("claim-date:h1") }}</h1>

  {{ govukInsetText({
    text: t("claim-date:inset", { earliestDate: earliestDate })
  }) }}

  {{ casaGovukRadios({
    name: "acceptEarliestDate",
    items: [
      {
        value: "yes",
        text: t("common:yes")
      },
      {
        value: "no",
        text: t("common:no"),
        conditional: {
          html: html
        }
      }
    ],
    casaValue: formData.acceptEarliestDate,
    casaErrors: formErrors
  }) }}
{% endblock %}
