{% extends "casa/layouts/journey.njk" %}

{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% from "../components/casa-journey-form-extra/macro.njk" import casaJourneyFormExtra with context %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
  {{ t("find:pageTitle") }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call casaJourneyFormExtra({ buttonBarHidden: true }) %}
        <h1 class="govuk-heading-xl">{{ t("find:h1") }}</h1>

        {{ casaGovukInput({
          label: {
            text: t("find:fields.reference.label")
          },
          name: "reference",
          value: formData.reference,
          classes: "govuk-!-width-two-thirds",
          casaErrors: formErrors
        }) }}

        {{ govukButton({
          text: t("find:btn.label"),
          preventDoubleClick: true
        }) }}
      {% endcall %}
    </div>
  </div>
{% endblock %}
