{% from "casa/components/journey-form/macro.njk" import casaJourneyForm with context %}

{% if formErrorsGovukArray %}
  {{ govukErrorSummary({
    titleText: t("error:summary.h1"),
    descriptionText: errorDescription or t("error:summary.defaultDescription"),
    errorList: formErrorsGovukArray
  }) }}
{% endif %}

{% call casaJourneyForm({
  buttonBarHidden: params.buttonBarHidden,
  casaMountUrl: casa.casaMountUrl,
  csrfToken: casa.csrfToken,
  editOriginUrl: editOriginUrl,
  inEditMode: inEditMode
}) %}
  {{ caller() }}
{% endcall %}
